# Python virtual environments
venv/
.env

build/

# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode and system files
.vs/
.vscode/
.DS_Store

# Flet file picker cache
uploads/

# Vendor packages
vendor/

thumbnails/

